.containerMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    bottom: 200px;
    left: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12rem;
    width: 70%;
    height: 400px;
}

.containerMain img {
    /* display: block; */
    margin-top: 300px;
    width: 546px;
    height: 333px;
    object-fit: cover;
    margin-left: 70px;
}