.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    /* box-shadow: 0 1px 8px rgba(0, 0, 255, 0.8); */
    box-shadow: 10px 5px 20px rgba(0, 0, 255, 0.8);
    width: 100%;
    height: 125px;
    border-top: 2px solid blue;
}

.rodape img{
    width: 11.75rem;
    height: 2.5rem;
}

