.cabecalho{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    font-size: 20px;
}

.container a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 3rem;
    text-decoration: none;
}

.home{
    color: blue;
    border: blue solid;
    box-shadow: inset 0px 0px 15px rgba(27, 17, 175, 0.5);
    border-radius: 10px;
}

.novoVideo{
    color: white;
    border: #ffffff solid;
    border-radius: 10px;
}